body
{
	margin:0px;
	padding:0px;
	font-family:Sans-serif;
	
}

.main_menu
{
	display:flex;
	justify-content:center;
	margin-top:5px;
}

.main_menu_inside
{
	display:flex;
	width:80%;
	/* background:#cccccc; */
	justify-content:space-between;
	align-items:center;
}
.main_menu_inside img
{
	height:50px;
	margin:0px;
	padding:0px;
	cursor:pointer;
}

.main_menu_right
{
	display:flex;
	/* background:yellow; */
	justify-content:space-between;
	align-items:center;
}

.usermenu
{
	display:flex;
	/* background:yellow; */
	justify-content:space-between;
	align-items:center;
}

.main_content
{
	border:1px solid #cccccc;
	margin:20px auto;
	margin-top: 0px;
	/* width:80%; */
	min-height:450px;
}

.category_menu
{
	display:flex;
	justify-content:center;
	margin-top:5px;
	background:#2b4156;
}

.category_menu_inside
{
	display:flex;
	width:80%;
	/* background:#cccccc; */
	justify-content:left;
	align-items:center;
	
}

.category_menu_button
{
	text-decoration:none;
	font-weight:bold;
	padding:10px;
	color:white;
	font-size:16px;
	/* padding-left:0px; */
	text-align: center;
	cursor:pointer;
}

.menu_button
{
	text-decoration:none;
	font-weight:bold;
	margin-left:15px;
	color:#3342d5;
	font-size:16px;
	padding:8px;
	background:white;
	cursor:pointer;
	border:1px solid black;
	border-radius:5px;
}

.category_menu_button:HOVER
{
	color:#f07330;
}

.menu_button_logout
{
	text-decoration:none;
	/* font-weight:bold; */
	margin-left:15px;
	color:blue;
	font-size:16px;
	border:1px solid black;
	border-radius:5px;
	padding:8px;
	cursor:pointer;
}

.category_menu_label
{
	text-decoration:none;
	font-weight:bold;
	padding:12px;
	color:white;
	font-size:18px;
	text-align: center;
	/* padding-left:0px; */
}

.topic_box
{
	margin:20px auto;
	width: 80%;
}

.topic
{
	text-decoration:none;
	font-weight:bold;
	margin-top:8px;
	color:#3342d5;
	font-size:16px;
	cursor:pointer;
	
}

.search_div
{
	display:flex;
	justify-content:center;
	align-items:center;
	width:20%;
}

.search_button
{
	padding-top:5px;
	padding-bottom:5px;
	background:blue;
	border:1px solid white;
	border-radius:5px;
	color:yellow;
	margin:0px;
	text-align: center;
}

.search_box
{
	display:flex;
	flex-direction: column;
	padding: 5px;
	background:#cccccc;
	border:1px solid white;
	border-radius:5px;
	color:black;
	margin:0px;
	width:20%;
	align-items:center;
	justify-content:center;
	float: right;
}
#search_topic
{
	background:#cccccc;
	border:1px solid darkblue;
	border-radius:5px;
	width:90%;
}


.search_result
{
	
	background:#cccccc;
	border:1px solid darkblue;
	width:90%;
	border-radius:5px;
}

.one_result
{
	cursor: pointer;
	padding: 3px;
	border:1px solid darkblue;
	border-radius:5px;
	margin:4px;
	font-size:12px;
	color:#3342d5;
}

.form_div
{
	width:25%;
	margin:30px auto;
	
}

.input_box
{
	width:100%;
	margin-top:10px;
	padding:8px;
	border:1px solid #cccccc;
	border-radius:8px;
	-webkit-box-sizing:border-box; /*ez a select miatt kellet, az nem border-ezik*/	
}

.err_box
{
	width:35%;
	margin:0px auto;
	color:red;
	margin-bottom:8px auto;
}

.admin
{
	background:#cccccc;
	padding:8px;
	border-radius:5px;
}

.signed
{
	border:1px solid red;
	border-radius:8px;
	box-shadow: 5px 5px grey;
}
	
.failure_box
{
	padding: 3px;
	margin-bottom:8px;
	background:red;
	color:white;
}

